name: CI

on:
    push:
        branches:
            - main
            - typescript-migration
    pull_request:
        branches:
            - "**"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@b4ffde65f46336ab11d5ea33ade984223922a3fb

            - name: Setup PNPM
              uses: pnpm/action-setup@a361b17c4d2c14b1cc349b5b8b33b76d44b25992
              with:
                  version: 10.20.0

            - name: Setup Node.js
              uses: actions/setup-node@v4.0.2
              with:
                  node-version: 20
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Lint
              run: pnpm lint

            - name: Type check
              run: pnpm type-check

            - name: Test
              run: pnpm test:run

            - name: Build
              run: pnpm build
